html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.alert {
    display: none;
}

.margin-bottom {
    margin-bottom: 10px;
}

.bootstrap-select {
    width: 100%;
}

.registration {
    max-width: 500px;
    margin: 0 auto;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.checkbox label, .radio label {
    padding-left: 0;
}

.col-panel .panel-body {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-all {
    font-size: 40px;
    font-weight: 700;
    border: 4px solid #d9edf7;
    border-radius: 100%;
    padding: 20px;
    color: #31708f;
    width: 110px;
    text-align: center;
}
